.pizza h2{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 30px;
      text-align: center;
      color: #9e1f14;
      text-shadow: 5px 5px 7px #1e181772;
      
  }

  .ingredienti {
    text-align: center;
}